.logo-carousel {
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .carousel-track {
    display: flex;
    justify-content: space-evenly;
  }
  
  .carousel-logo {
    flex: 0 0 auto;
    width: 100px;
    margin-right: 20px;
  }
  