.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.home-card {
  background: #baebff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  max-width: 920px;
  width: 100%;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-illustration {
  position: absolute;
  top: -40px;
  left: -40px;
}

.home-image {
  display: block;
  position: absolute;
  top: -112px;
  left: -100px;
  width: 100px;
}

.home-title {
  font-size: 2rem;
  font-weight: 600;
  color: #093649;
}

.home-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #093649;
  margin-top: 10px;
}

.home-description {
  color: #004449;
  max-width: 544px;
  margin-top: 20px auto;
  font-size: 16px;
  line-height: 2rem;
  letter-spacing: normal;
  display: block;
  text-align: center;
}

.home-button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  text-transform: uppercase;
}

.home-button:hover {
  background-color: #0056b3;
}
